.alert-success {
  background-color: green;
}

.alert-warning {
  background-color: yellow;
}

.alert-danger {
  background-color: red;
}

.alert-info {
  background-color: teal;
}
nav li {
  display: inline;
  background-color: rgb(245, 208, 129);
}
nav li a {
  color: rgb(53, 10, 31);
}

body {
  background-color: rgb(248, 227, 180);
  color: rgb(0, 0, 0);
}

h1.header {
  padding: 20px;
  margin: 20px;
  background-color: #f86d6d;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  height: 50px; /* Height of the footer */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer {
  height: 24px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
}

.footer_contents {
  height: 24px;
  width: 1000px;
  margin: auto;
}

/* Hide dropdown menu by default */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position dropdown below the parent */
  left: 0;
  z-index: 1;
  /* Additional styling for appearance */
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ccc;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Additional styling for dropdown links */
.dropdown-menu li {
  display: block;
  margin: 5px 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  /* Additional styles as needed */
}

/* Styles for the button container */
.button-container {
  text-align: center; /* Center align the buttons */
  margin-top: 20px; /* Add space from the top */
}

.button-container-left {
  text-align: left; /* Center align the buttons */
  margin-top: 20px; /* Add space from the top */
  margin-left: 20px;
}

/* Styles for the buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.back-button {
  background-color: #ffffff; /* Red color */
  border-color: #ffffff;
  color: #000000;
}

/* Delete button style */
.delete-button {
  background-color: #d9534f; /* Red color */
  border-color: #d9534f;
}

/* Edit button style */
.edit-button {
  background-color: #5bc0de; /* Blue color */
  border-color: #5bc0de;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #555;
  color: #fff;
}

.search-bar {
  width: 300px; /* Set your desired width here */
  /* You can adjust the width value as needed */
}
